body {
	background: #0a2463;
}

/* Bordered form */
form {
	background: #0a2463;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	background: #0a2463;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
	background: #36c4a1;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 50px 0 50px 0;
	background: 0a2463;
}

/* Avatar image */
img.avatar {
    width: 15%;
    border-radius: 25%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}